@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $base-fonts;
  background-color: #151616;
  background: radial-gradient(56.56% 50% at 50% 50%, #1F2121 0%, #151616 100%);
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; border: none; background-color: transparent; }

*, *:before, *:after { box-sizing: border-box; }


.content { flex: 1 0 auto; }

.container {
  width: 100%;
  max-width: 1780px;
  padding: 0 90px 0 50px;
  margin: 0 auto;
}

//Модули
@import "modules/modules";
